@page "/Encuestas/IndexEncuestas"
@using Leodanny_maria_P2_AP1.Models
@using Leodanny_maria_P2_AP1.Services
@inject EncuestasService encuestasservices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Consulta de encuestas</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title">Encuestas</h5>
        </div>

        <div class="card-body">

            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th><strong>Encuesta Id</strong></th>
                        <th><strong>Fecha</strong></th>
                        <th><strong>Asignatura</strong></th>
                        <th><strong>Monto</strong></th>
                        <th><strong>Editar</strong></th>
                        <th><strong>Eliminar</strong></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var encuestas in listaencuesta)
                    {
                        <tr>
                            <td>@encuestas.EncuestaId</td>
                            <td>@encuestas.Fecha</td>
                            <td>@encuestas.Asignatura</td>
                            <td>@encuestas.Monto</td>
                            <td class="text-center">
                                <a href="/Edit/encuestas/@encuestas.EncuestaId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                            </td>

                            <td class="text-center">
                                <a href="/Delete/encuestas/@encuestas.EncuestaId" class="btn btn-outline-danger bi bi-trash"></a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="/Encuestas/CreateEncuestas" class="btn btn-primary"> <span class="bi bi-plus-square mt-3"></span> Crear</a>
        </div>
    </div>
</div>

@code {
    public Encuestas encuestas { get; set; } = new Encuestas();
    public List<Encuestas> listaencuesta { get; set; } = new List<Encuestas>();

    protected override async Task OnInitializedAsync()
    {
        listaencuesta = await encuestasservices.Listar(e => true);
    }

}
